<p id="notice"><%= notice %></p>

<h1>Wedding Guests</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @wedding_guests.each do |wedding_guest| %>
      <tr>
        <td><%= wedding_guest.user_id %></td>
        <td><%= wedding_guest.name %></td>
        <td><%= link_to 'Show', wedding_guest %></td>
        <td><%= link_to 'Edit', edit_wedding_guest_path(wedding_guest) %></td>
        <td><%= link_to 'Destroy', wedding_guest, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Wedding Guest', new_wedding_guest_path %>
