<!DOCTYPE html>
<html>
  <head>
    <title><%= current_tenant ? current_tenant.title : "Blog 6" %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <style type="text/css">
      :root { --background-color: #ddd; }
    </style>
    <%= stylesheet_link_tag design_theme_css, media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="body-wrap" style="min-height: 528px">
      <!--container-->
      <div class="container">

        <div class="row">
          <div class="col-sm-8">
            <div class="content " role="main">
              Skinny Frame Layout is working!
              <%= yield %>
            </div>
          </div>
          <div class="col-sm-4">
            <%= render 'sidebar' %>
          </div>
        </div>

      </div>
      <!--container end-->
    </div>
  </body>
</html>
