<%= form_with(model: wedding_group, local: true) do |form| %>
  <% if wedding_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(wedding_group.errors.count, "error") %> prohibited this wedding_group from being saved:</h2>

      <ul>
        <% wedding_group.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.text_field :password %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
