<h1>Anmelden</h1>

Hallo liebe Gäste, auf dieser Seite könnt ihr euch ganz einfach für die Hochzeit anmelden.

<p>
  <%= form_tag("edit", :method => :get) do %>
    <%= select_tag(:name, options_for_select( @wedding_groups.map{|w| w.name}, @wedding_groups.map{|w| w.name} )) %>
    <%= password_field_tag(:password) %>
    <%= submit_tag "An- oder Abmelden" %>
   <% end %>
 
    <% @wedding_groups.each do |wedding_group| %>
      <%= wedding_group.name %>
    <% end %>
</p>
