<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @wedding_group.name %>
</p>

<p>
  <strong>Password:</strong>
  <%= @wedding_group.password %>
</p>

<%= link_to 'Edit', edit_wedding_group_path(@wedding_group) %> |
<%= link_to 'Back', wedding_groups_path %>
