<!DOCTYPE html>
<html>
  <head>
    <title>Blog6</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="container">
      <header>
        Header content
      </header>

      <nav>
        <% if current_user  %>
          Logged in: <%= current_user.email %>
        <% else %>
          Logged out
        <% end %>
      </nav>

      <main>
        <%= yield %>
      </main>

      <aside>
        Sidebar / Ads
      </aside>

      <footer>
        Footer content
      </footer>
    </div>
  </body>
</html>
