<!DOCTYPE html>
<html>
  <head>
    <title><%= current_tenant ? current_tenant.title : "Blog 6" %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <style type="text/css">
      :root { --background-color: #ddd; }
    </style>
    <%= stylesheet_link_tag design_theme_css, media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <div class="grid-notice">Your browser does not support grid ... get a real browser</div>
      </div>
      <header>
        <h1><%= current_tenant ? current_tenant.title : "Blog 6" %></h1>
        <h2><%= current_tenant ? current_tenant.tag_line : "" %></h2>
      </header>

      <nav>
        <% if current_user  %>
          Logged in: <%= current_user.email %>
        <% else %>
          Logged out
        <% end %>

        host: <%= request.host %><br>
        <% if current_tenant  %>
          tenant: <%= current_tenant.name %>
        <% else %>
          Unconfigured tenant
        <% end %>
      </nav>

      <main>
        <% if Rails.env == "development" %>
          <div class="media-phone">Phone</div>
          <div class="media-tablet-portrait">Tablet Portrait</div>
          <div class="media-tablet-landscape">Tablet Landscape</div>
          <div class="media-desktop-small">Small Desktop</div>
          <div class="media-desktop">Desktop</div>
        <% end %>

        <%= render 'messages' %>

        <%= yield %>
      </main>

      <aside>
        <%= render 'blocks/tardis' %>
      </aside>

      <footer>
        <ul>
          <li><a href="/pages/impressum">Impressum</a></li>
        </ul>
        <ul>
        </ul>
        <ul>
        </ul>
        <ul>
        </ul>
      </footer>
    </div>
  </body>
</html>
